body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls {
    margin-top: 2rem;
}

/* experimenteer hieronder met de flex-instellingen */

.container {
    display: flex;
    justify-content: space-around;
    width: 750px;
    height: 50vh;
    border: 2px solid white;
}

.box {
    height: 100px;
    flex: 0 0 100px;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}