body {
  max-width: 1000px;
  margin: 0 auto;
  color: #555;
}

nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 1rem;
}

nav a,
.item a {
  color: grey;
}

main {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
  background-image: url("../achtergrond.webp");
  background-repeat: repeat;
}

.item {
  flex: 1 1 50%;
  padding: 1.25rem;
  line-height: 1.3;
}

.item:nth-child(3) {
  background-color: rgba(139, 211, 146, 0.5);
}

.item:nth-child(3)::first-letter {
  font-size: 200%;
}
