body {
  background-color: #ececec;
}

.confetti {
  min-height: 100vh;
  padding: 3vw 3.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.dot {
  width: 5vw;
  height: 5vw;
  min-width: 34px;
  min-height: 34px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  margin: 1.6vw 0.8vw;
}

.dot:nth-child(8n + 1) {
  background-color: #d238b6;
}

.dot:nth-child(8n + 2) {
  background-color: #2f6f4d;
}

.dot:nth-child(8n + 3) {
  background-color: #f1ea4b;
}

.dot:nth-child(8n + 4) {
  background-color: #63ccc0;
}

.dot:nth-child(8n + 5) {
  background-color: #bf2b1d;
}

.dot:nth-child(8n + 6) {
  background-color: #efd946;
}

.dot:nth-child(8n + 7) {
  background-color: #393c7e;
}

.dot:nth-child(8n + 8) {
  background-color: #2c4bb8;
}
