body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: papayawhip;
  font-family: "Roboto Condensed", Arial, sans-serif;
}

.label {
  width: 330px;
  background-color: #efefef;
  border-radius: 10px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.logo {
  width: 100%;
  display: block;
}

.product {
  background-color: #d97233;
  border-radius: 7px;
  color: #fff;
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.test {
  font-size: 0.67rem;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  line-height: 1.12;
  font-weight: 900;
}

.product-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
}

.product-name .main {
  color: #4e4e4e;
  font-size: 1.9rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.3rem;
}

.product-name p {
  font-size: 0.83rem;
  color: #4e4e4e;
  font-weight: 700;
  line-height: 1.1;
}

.product-bottom img {
  width: 72px;
}

.bio {
  color: #009f58;
  font-size: 2.15rem;
  font-weight: 900;
  text-align: center;
}
