body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 1rem;
}

nav a {
  color: darkgray;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

section {
  background-color: rgb(240, 240, 240);
  padding: 1.25rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

article {
  flex: 1 1 350px;
}

article h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

article img {
  width: 100%;
  display: block;
  margin-bottom: 0.75rem;
}

article p {
  line-height: 1.3;
  margin-bottom: 0.4rem;
}
